<div class="card card-plain">
    <div class="row">
        <div class="col-md-5">
            <div class="card-image">
                <img src="assets/img/uriel-soberanes.jpg" alt="cinema">
                <!-- <a [routerLink]="['/cinemas/'+cinema._id]">
                    <img  [src]="cinema.imageUrl" alt="cinema">
                </a> -->
            </div>
        </div>

        <div class="col-md-7">
            <div  class="card-body">

                <h2 class="card-title">
                        {{ store.name }}
                </h2>

                <p  class="card-description"> 
                    {{ store.description }}
                </p>
        </div>
    </div>
</div>