<div class="mt-4">
<a href="#">
   <div class="image-container">
        <img class="img-rounded img-resp" 
        src="assets/img/vertical-placeholder-image.jpg">
        
        <div class="image-caption">
            <div class="icon-star d-flex justify-content-center align-items-center"><i class="fa fa-tag fa-solid"></i></div>
            <div class="rating d-flex justify-content-center">{{product.price}}  $</div>
            <!-- <div class="genre d-flex justify-content-center">
                {{ product.description }}
            </div> -->
        </div>
    </div>
</a>
<a href="#">
    <div class="img-description">
        <span class="movie-title card-title">{{product.name}}</span>
    </div>
</a>
</div>