<nav [ngClass]="{
    'navbar':true,
    'navbar-expand-lg': true,
    'fixed-top': isNavbarTransparent(),
    'navbar-transparent': isNavbarTransparent(),
    'bg-danger': !isNavbarTransparent()
}"
    >
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" [routerLink]="['/']"><i class="fa fa-shopping-bag fa-2x" aria-hidden="true"></i></a>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto align-items-center">


                <!-- <li class="nav-item" *ngIf="!isAuthenticated">
                    <a [routerLink]="['/register/login']"  class="nav-link">
                        <i class="nc-icon nc-key-25"></i>
                        Login</a>
                </li>

                <li class="nav-item" *ngIf="!isAuthenticated">
                    <a [routerLink]="['/register/signup']"  class="nav-link">
                        <i class="nc-icon nc-simple-add"></i>
                        Register</a>
                </li>

                <li class="nav-item" *ngIf="isAuthenticated">
                    <a   [routerLink]="['/stores']" class="nav-link">
                        <i class="nc-icon"></i>
                        Stores</a>
                </li> -->
                <li class="nav-item">
                    <a   [routerLink]="['/stores']" class="nav-link">
                        <i class="nc-icon"></i>
                        Stores</a>
                </li>
                <li class="nav-item">
                    <a   [routerLink]="['products']" class="nav-link">
                        Products</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/forecast']" class="nav-link">
                        Forecast
                    </a>
                </li>
                <!-- <li class="pointer nav-item" *ngIf="isAuthenticated">
                    <a (click)="logout()" class="link nav-link">
                        logout
                    </a>
                </li> -->

            </ul>
        </div>
    </div>
</nav>
